In [1]:
import os
import pandas as pd

In [2]:
xls = pd.ExcelFile('./data/2016/Jan 2016.xlsx')
xls.sheet_names

['visibility', 'Dew pt', 'QFE', 'cloud', 'Temperature']

# For visibility data

In [24]:
df = pd.read_excel(xls, sheet_name='visibility', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1         6       7.0         9         8         7
1              2         6       7.0         7         8         7
2              3         6       7.0         8         8         6
3              4         6       7.0         7         7         7
4              5         6       6.0         6         7         7

In [25]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')

In [29]:
df.columns = ['Time', 'visibility']
df.head()
df = pd.get_dummies(df)

In [30]:
df

,visibility,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,6.0,1,0,0,0,0
1,7.0,0,1,0,0,0
1,9.0,0,0,1,0,0
1,8.0,0,0,0,1,0
1,7.0,0,0,0,0,1
2,6.0,1,0,0,0,0
2,7.0,0,1,0,0,0
2,7.0,0,0,1,0,0
2,8.0,0,0,0,1,0
2,7.0,0,0,0,0,1
3,6.0,1,0,0,0,0
3,7.0,0,1,0,0,0
3,8.0,0,0,1,0,0
3,8.0,0,0,0,1,0
3,6.0,0,0,0,0,1
4,6.0,1,0,0,0,0
4,7.0,0,1,0,0,0
4,7.0,0,0,1,0,0
4,7.0,0,0,0,1,0
4,7.0,0,0,0,0,1
5,6.0,1,0,0,0,0
5,6.0,0,1,0,0,0
5,6.0,0,0,1,0,0
5,7.0,0,0,0,1,0
5,7.0,0,0,0,0,1
6,6.0,1,0,0,0,0
6,5.0,0,1,0,0,0
6,6.0,0,0,1,0,0
6,7.0,0,0,0,1,0
6,7.0,0,0,0,0,1
...,...,...,...,...,...,...
26,6.0,1,0,0,0,0
26,7.0,0,1,0,0,0
26,6.0,0,0,1,0,0
26,7.0,0,0,0,1,0
26,7.0,0,0,0,0,1
27,6.0,1,0,0,0,0
27,7.0,0,1,0,0,0
27,7.0,0,0,1,0,0
27,9.0,0,0,0,1,0
27,7.0,0,0,0,0,1
28,6.0,1,0,0,0,0
28,5.0,0,1,0,0,0
28,5.0,0,0,1,0,0
28,6.0,0,0,0,1,0
28,6.0,0,0,0,0,1
29,6.0,1,0,0,0,0
29,5.0,0,1,0,0,0
29,5.0,0,0,1,0,0
29,6.0,0,0,0,1,0
29,6.0,0,0,0,0,1
30,6.0,1,0,0,0,0
30,5.0,0,1,0,0,0
30,5.0,0,0,1,0,0
30,6.0,0,0,0,1,0
30,6.0,0,0,0,0,1
31,10.0,1,0,0,0,0
31,10.0,0,1,0,0,0
31,10.0,0,0,1,0,0
31,5.0,0,0,0,1,0
31,5.0,0,0,0,0,1

# For dew point

In [131]:
df = pd.read_excel(xls, sheet_name='Dew pt', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1       7.4       8.4       7.8       8.8      10.3
1              2       7.9       8.8       8.7       9.8      10.2
2              3       7.7       8.0       9.7       9.8       9.4
3              4       8.4       8.6       9.8       9.2       9.4
4              5       7.1       9.2       9.5      10.7      11.2

In [132]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.columns = ['Time', 'dew_pt']
df.head()
df = pd.get_dummies(df)
df

,dew_pt,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,7.4,1,0,0,0,0
1,8.4,0,1,0,0,0
1,7.8,0,0,1,0,0
1,8.8,0,0,0,1,0
1,10.3,0,0,0,0,1
2,7.9,1,0,0,0,0
2,8.8,0,1,0,0,0
2,8.7,0,0,1,0,0
2,9.8,0,0,0,1,0
2,10.2,0,0,0,0,1
3,7.7,1,0,0,0,0
3,8.0,0,1,0,0,0
3,9.7,0,0,1,0,0
3,9.8,0,0,0,1,0
3,9.4,0,0,0,0,1
4,8.4,1,0,0,0,0
4,8.6,0,1,0,0,0
4,9.8,0,0,1,0,0
4,9.2,0,0,0,1,0
4,9.4,0,0,0,0,1
5,7.1,1,0,0,0,0
5,9.2,0,1,0,0,0
5,9.5,0,0,1,0,0
5,10.7,0,0,0,1,0
5,11.2,0,0,0,0,1
6,9.8,1,0,0,0,0
6,10.9,0,1,0,0,0
6,11.4,0,0,1,0,0
6,7.5,0,0,0,1,0
6,10.8,0,0,0,0,1
...,...,...,...,...,...,...
26,7.1,1,0,0,0,0
26,7.9,0,1,0,0,0
26,7.9,0,0,1,0,0
26,5.5,0,0,0,1,0
26,8.9,0,0,0,0,1
27,7.7,1,0,0,0,0
27,8.0,0,1,0,0,0
27,6.0,0,0,1,0,0
27,4.0,0,0,0,1,0
27,7.2,0,0,0,0,1
28,6.7,1,0,0,0,0
28,7.9,0,1,0,0,0
28,7.1,0,0,1,0,0
28,4.1,0,0,0,1,0
28,6.9,0,0,0,0,1
29,6.8,1,0,0,0,0
29,7.0,0,1,0,0,0
29,7.1,0,0,1,0,0
29,6.5,0,0,0,1,0
29,6.7,0,0,0,0,1
30,7.1,1,0,0,0,0
30,7.6,0,1,0,0,0
30,8.7,0,0,1,0,0
30,6.8,0,0,0,1,0
30,8.9,0,0,0,0,1
31,8.1,1,0,0,0,0
31,8.7,0,1,0,0,0
31,9.9,0,0,1,0,0
31,9.2,0,0,0,1,0
31,9.6,0,0,0,0,1

# For QFE

In [129]:
df = pd.read_excel(xls, sheet_name='QFE', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1     927.0     929.3     930.0     927.0     927.3
1              2     927.3     929.1     928.4     925.7     924.6
2              3     924.8     926.5     927.3     924.2     923.6
3              4     925.4     928.3     928.2     926.0     924.9
4              5     924.2     926.2     926.0     923.7     922.6

In [130]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.columns = ['Time', 'QFE']
df.head()
df = pd.get_dummies(df)
df

,QFE,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,927.0,1,0,0,0,0
1,929.3,0,1,0,0,0
1,930.0,0,0,1,0,0
1,927.0,0,0,0,1,0
1,927.3,0,0,0,0,1
2,927.3,1,0,0,0,0
2,929.1,0,1,0,0,0
2,928.4,0,0,1,0,0
2,925.7,0,0,0,1,0
2,924.6,0,0,0,0,1
3,924.8,1,0,0,0,0
3,926.5,0,1,0,0,0
3,927.3,0,0,1,0,0
3,924.2,0,0,0,1,0
3,923.6,0,0,0,0,1
4,925.4,1,0,0,0,0
4,928.3,0,1,0,0,0
4,928.2,0,0,1,0,0
4,926.0,0,0,0,1,0
4,924.9,0,0,0,0,1
5,924.2,1,0,0,0,0
5,926.2,0,1,0,0,0
5,926.0,0,0,1,0,0
5,923.7,0,0,0,1,0
5,922.6,0,0,0,0,1
6,924.7,1,0,0,0,0
6,926.7,0,1,0,0,0
6,926.8,0,0,1,0,0
6,924.4,0,0,0,1,0
6,923.3,0,0,0,0,1
...,...,...,...,...,...,...
26,921.7,1,0,0,0,0
26,923.9,0,1,0,0,0
26,924.1,0,0,1,0,0
26,920.9,0,0,0,1,0
26,920.6,0,0,0,0,1
27,920.8,1,0,0,0,0
27,922.5,0,1,0,0,0
27,922.9,0,0,1,0,0
27,919.6,0,0,0,1,0
27,919.8,0,0,0,0,1
28,920.8,1,0,0,0,0
28,923.0,0,1,0,0,0
28,923.9,0,0,1,0,0
28,921.3,0,0,0,1,0
28,920.8,0,0,0,0,1
29,923.8,1,0,0,0,0
29,926.0,0,1,0,0,0
29,925.9,0,0,1,0,0
29,922.9,0,0,0,1,0
29,922.7,0,0,0,0,1
30,921.6,1,0,0,0,0
30,923.1,0,1,0,0,0
30,922.8,0,0,1,0,0
30,919.6,0,0,0,1,0
30,919.0,0,0,0,0,1
31,920.1,1,0,0,0,0
31,922.2,0,1,0,0,0
31,924.3,0,0,1,0,0
31,921.5,0,0,0,1,0
31,920.8,0,0,0,0,1

# For Cloud

In [175]:
df = pd.read_excel(xls, sheet_name='cloud', skiprows=3, header=[0, 1])
df.head()

       Day/Time(UTC) 05:45:00    08:45:00    11:45:00    14:45:00    17:45:00  \
  Unnamed: 0_level_1       LC TC       LC TC       LC TC       LC TC       LC
0                  1        1  1        4  6        2  2        1  3        1
1                  2        1  1        1  1        1  1        2  2        1
2                  3        1  1        1  1        1  1        2  4        2
3                  4        1  1        1  1        1  1        3  6        1
4                  5        1  1        2  5        2  6        2  2        1


  TC
0  2
1  1
2  5
3  2
4  3

In [180]:
x = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
x = x.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1'))
x.index.name = 'Day/Time(UTC)'
pd.get_dummies(x)

,LC,TC,level_1_05:45:00,level_1_08:45:00,level_1_11:45:00,level_1_14:45:00,level_1_17:45:00
Day/Time(UTC),,,,,,,
1,1,1,1,0,0,0,0
1,4,6,0,1,0,0,0
1,2,2,0,0,1,0,0
1,1,3,0,0,0,1,0
1,1,2,0,0,0,0,1
2,1,1,1,0,0,0,0
2,1,1,0,1,0,0,0
2,1,1,0,0,1,0,0
2,2,2,0,0,0,1,0
2,1,1,0,0,0,0,1
3,1,1,1,0,0,0,0
3,1,1,0,1,0,0,0
3,1,1,0,0,1,0,0
3,2,4,0,0,0,1,0
3,2,5,0,0,0,0,1
4,1,1,1,0,0,0,0
4,1,1,0,1,0,0,0
4,1,1,0,0,1,0,0
4,3,6,0,0,0,1,0
4,1,2,0,0,0,0,1
5,1,1,1,0,0,0,0
5,2,5,0,1,0,0,0
5,2,6,0,0,1,0,0
5,2,2,0,0,0,1,0
5,1,3,0,0,0,0,1
6,1,2,1,0,0,0,0
6,2,6,0,1,0,0,0
6,2,3,0,0,1,0,0
6,2,6,0,0,0,1,0
6,2,5,0,0,0,0,1
...,...,...,...,...,...,...,...
26,1,4,1,0,0,0,0
26,1,4,0,1,0,0,0
26,6,6,0,0,1,0,0
26,3,6,0,0,0,1,0
26,4,7,0,0,0,0,1
27,1,4,1,0,0,0,0
27,3,6,0,1,0,0,0
27,3,5,0,0,1,0,0
27,4,6,0,0,0,1,0
27,4,7,0,0,0,0,1
28,1,5,1,0,0,0,0
28,3,7,0,1,0,0,0
28,2,5,0,0,1,0,0
28,3,7,0,0,0,1,0
28,4,7,0,0,0,0,1
29,1,1,1,0,0,0,0
29,1,1,0,1,0,0,0
29,1,1,0,0,1,0,0
29,3,3,0,0,0,1,0
29,4,7,0,0,0,0,1
30,3,5,1,0,0,0,0
30,2,2,0,1,0,0,0
30,2,2,0,0,1,0,0
30,2,2,0,0,0,1,0
30,3,5,0,0,0,0,1
31,3,3,1,0,0,0,0
31,1,1,0,1,0,0,0
31,4,7,0,0,1,0,0
31,3,5,0,0,0,1,0
31,3,7,0,0,0,0,1