In [20]:
# !pip install tqdm
import os
import numpy as np
import pandas as pd
from tqdm import tqdm as tqdm

In [28]:
main_df = pd.DataFrame()

In [29]:
xls = pd.ExcelFile('./data/2016/Jan 2016.xlsx')
xls.sheet_names

['visibility', 'Dew pt', 'QFE', 'cloud', 'Temperature']

# For visibility data

In [30]:
df = pd.read_excel(xls, sheet_name='visibility', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1         6       7.0         9         8         7
1              2         6       7.0         7         8         7
2              3         6       7.0         8         8         6
3              4         6       7.0         7         7         7
4              5         6       6.0         6         7         7

In [31]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
# df.index = pd.to_datetime([f('Jan {x}, 2016 {y}') for x, y in zip(df.index, df['level_1'])])
df.index = pd.to_datetime(['Jan %s, 2016 %s' % (x, y) for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['visibility']
df.head()

                     visibility
2016-01-01 05:45:00         6.0
2016-01-01 08:45:00         7.0
2016-01-01 11:45:00         9.0
2016-01-01 14:45:00         8.0
2016-01-01 17:45:00         7.0

In [32]:
main_df = pd.concat([main_df, df], axis=1)
main_df.head()

                     visibility
2016-01-01 05:45:00         6.0
2016-01-01 08:45:00         7.0
2016-01-01 11:45:00         9.0
2016-01-01 14:45:00         8.0
2016-01-01 17:45:00         7.0

# For dew point

In [33]:
df = pd.read_excel(xls, sheet_name='Dew pt', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1       7.4       8.4       7.8       8.8      10.3
1              2       7.9       8.8       8.7       9.8      10.2
2              3       7.7       8.0       9.7       9.8       9.4
3              4       8.4       8.6       9.8       9.2       9.4
4              5       7.1       9.2       9.5      10.7      11.2

In [34]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
# df.index = pd.to_datetime([f('Jan {x}, 2016 {y}') for x, y in zip(df.index, df['level_1'])])
df.index = pd.to_datetime(['Jan %s, 2016 %s' % (x, y) for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['dew_pt']
df.head()

                     dew_pt
2016-01-01 05:45:00     7.4
2016-01-01 08:45:00     8.4
2016-01-01 11:45:00     7.8
2016-01-01 14:45:00     8.8
2016-01-01 17:45:00    10.3

In [35]:
main_df['dew_pt'] = df['dew_pt']
main_df.head()

                     visibility  dew_pt
2016-01-01 05:45:00         6.0     7.4
2016-01-01 08:45:00         7.0     8.4
2016-01-01 11:45:00         9.0     7.8
2016-01-01 14:45:00         8.0     8.8
2016-01-01 17:45:00         7.0    10.3

# For QFE

In [36]:
df = pd.read_excel(xls, sheet_name='QFE', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1     927.0     929.3     930.0     927.0     927.3
1              2     927.3     929.1     928.4     925.7     924.6
2              3     924.8     926.5     927.3     924.2     923.6
3              4     925.4     928.3     928.2     926.0     924.9
4              5     924.2     926.2     926.0     923.7     922.6

In [37]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
# df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.index = pd.to_datetime(['Jan %s, 2016 %s' % (x, y) for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['QFE']
df.head()

                       QFE
2016-01-01 05:45:00  927.0
2016-01-01 08:45:00  929.3
2016-01-01 11:45:00  930.0
2016-01-01 14:45:00  927.0
2016-01-01 17:45:00  927.3

In [38]:
main_df['QFE'] = df['QFE']
main_df.head()

                     visibility  dew_pt    QFE
2016-01-01 05:45:00         6.0     7.4  927.0
2016-01-01 08:45:00         7.0     8.4  929.3
2016-01-01 11:45:00         9.0     7.8  930.0
2016-01-01 14:45:00         8.0     8.8  927.0
2016-01-01 17:45:00         7.0    10.3  927.3

# For Cloud

In [39]:
df = pd.read_excel(xls, sheet_name='cloud', skiprows=3, header=[0, 1])
df.head()

       Day/Time(UTC) 05:45:00    08:45:00    11:45:00    14:45:00    17:45:00  \
  Unnamed: 0_level_1       LC TC       LC TC       LC TC       LC TC       LC
0                  1        1  1        4  6        2  2        1  3        1
1                  2        1  1        1  1        1  1        2  2        1
2                  3        1  1        1  1        1  1        2  4        2
3                  4        1  1        1  1        1  1        3  6        1
4                  5        1  1        2  5        2  6        2  2        1


  TC
0  2
1  1
2  5
3  2
4  3

In [40]:
df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1'))
# df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.index = pd.to_datetime(['Jan %s, 2016 %s' % (x, y) for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['LC', 'TC']
df.head()

                     LC  TC
2016-01-01 05:45:00   1   1
2016-01-01 08:45:00   4   6
2016-01-01 11:45:00   2   2
2016-01-01 14:45:00   1   3
2016-01-01 17:45:00   1   2

In [41]:
main_df['LC'] = df['LC']
main_df['TC'] = df['TC']
main_df.head()

                     visibility  dew_pt    QFE  LC  TC
2016-01-01 05:45:00         6.0     7.4  927.0   1   1
2016-01-01 08:45:00         7.0     8.4  929.3   4   6
2016-01-01 11:45:00         9.0     7.8  930.0   2   2
2016-01-01 14:45:00         8.0     8.8  927.0   1   3
2016-01-01 17:45:00         7.0    10.3  927.3   1   2

# For the Temperature

In [42]:
df = pd.read_excel(xls, sheet_name='Temperature', skiprows=2, header=[0, 1]).iloc[:, 0:16]
df.head()

                 Day 05:45:00          08:45:00           11:45:00            \
  Unnamed: 0_level_1      DRY  WET  RH      DRY   WET  RH      DRY   WET  RH
0                  1      8.7  8.0  92     10.2   9.2  89     17.6  12.2  54
1                  2      8.6  8.2  95     10.2   9.4  91     18.5  12.8  53
2                  3      8.4  8.0  95      9.8   8.8  88     18.2  13.2  58
3                  4      8.8  8.6  98     10.0   9.2  91     18.4  13.3  57
4                  5      8.2  7.6  93     11.4  10.2  87     18.0  13.0  58

  14:45:00           17:45:00
       DRY   WET  RH      DRY   WET    RH
0     20.8  14.0  46     16.4  12.9  67.0
1     21.6  14.5  47     16.7  13.0  66.0
2     20.2  14.0  50     17.3  12.8  60.0
3     20.2  13.7  49     17.3  12.8  60.0
4     20.7  14.6  53     17.2  13.7  68.0

In [43]:
df = df.set_index(('Day', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
df = df.set_index(('Day', 'Unnamed: 0_level_1'))
# df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.index = pd.to_datetime(['Jan %s, 2016 %s' % (x, y) for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['DRY', 'RH', 'WET']
df.head()

                      DRY    RH   WET
2016-01-01 05:45:00   8.7  92.0   8.0
2016-01-01 08:45:00  10.2  89.0   9.2
2016-01-01 11:45:00  17.6  54.0  12.2
2016-01-01 14:45:00  20.8  46.0  14.0
2016-01-01 17:45:00  16.4  67.0  12.9

In [44]:
main_df['DRY'] = df['DRY']
main_df['RH'] = df['RH']
main_df['WET'] = df['WET']
main_df.head()

                     visibility  dew_pt    QFE  LC  TC   DRY    RH   WET
2016-01-01 05:45:00         6.0     7.4  927.0   1   1   8.7  92.0   8.0
2016-01-01 08:45:00         7.0     8.4  929.3   4   6  10.2  89.0   9.2
2016-01-01 11:45:00         9.0     7.8  930.0   2   2  17.6  54.0  12.2
2016-01-01 14:45:00         8.0     8.8  927.0   1   3  20.8  46.0  14.0
2016-01-01 17:45:00         7.0    10.3  927.3   1   2  16.4  67.0  12.9

# Now we have the required df for the month

In [45]:
main_df.to_pickle('./dumps/Jan2016.pkl')
main_df

                     visibility  dew_pt    QFE  LC  TC   DRY    RH   WET
2016-01-01 05:45:00         6.0     7.4  927.0   1   1   8.7  92.0   8.0
2016-01-01 08:45:00         7.0     8.4  929.3   4   6  10.2  89.0   9.2
2016-01-01 11:45:00         9.0     7.8  930.0   2   2  17.6  54.0  12.2
2016-01-01 14:45:00         8.0     8.8  927.0   1   3  20.8  46.0  14.0
2016-01-01 17:45:00         7.0    10.3  927.3   1   2  16.4  67.0  12.9
2016-01-02 05:45:00         6.0     7.9  927.3   1   1   8.6  95.0   8.2
2016-01-02 08:45:00         7.0     8.8  929.1   1   1  10.2  91.0   9.4
2016-01-02 11:45:00         7.0     8.7  928.4   1   1  18.5  53.0  12.8
2016-01-02 14:45:00         8.0     9.8  925.7   2   2  21.6  47.0  14.5
2016-01-02 17:45:00         7.0    10.2  924.6   1   1  16.7  66.0  13.0
2016-01-03 05:45:00         6.0     7.7  924.8   1   1   8.4  95.0   8.0
2016-01-03 08:45:00         7.0     8.0  926.5   1   1   9.8  88.0   8.8
2016-01-03 11:45:00         8.0     9.7  927.3   1   1  18.2  58.0  13.2
2016-01-03 14:45:00         8.0     9.8  924.2   2   4  20.2  50.0  14.0
2016-01-03 17:45:00         6.0     9.4  923.6   2   5  17.3  60.0  12.8
2016-01-04 05:45:00         6.0     8.4  925.4   1   1   8.8  98.0   8.6
2016-01-04 08:45:00         7.0     8.6  928.3   1   1  10.0  91.0   9.2
2016-01-04 11:45:00         7.0     9.8  928.2   1   1  18.4  57.0  13.3
2016-01-04 14:45:00         7.0     9.2  926.0   3   6  20.2  49.0  13.7
2016-01-04 17:45:00         7.0     9.4  924.9   1   2  17.3  60.0  12.8
2016-01-05 05:45:00         6.0     7.1  924.2   1   1   8.2  93.0   7.6
2016-01-05 08:45:00         6.0     9.2  926.2   2   5  11.4  87.0  10.2
2016-01-05 11:45:00         6.0     9.5  926.0   2   6  18.0  58.0  13.0
2016-01-05 14:45:00         7.0    10.7  923.7   2   2  20.7  53.0  14.6
2016-01-05 17:45:00         7.0    11.2  922.6   1   3  17.2  68.0  13.7
2016-01-06 05:45:00         6.0     9.8  924.7   1   2  10.9  94.0  10.4
2016-01-06 08:45:00         5.0    10.9  926.7   2   6  12.0  93.0  11.4
2016-01-06 11:45:00         6.0    11.4  926.8   2   3  18.6  63.0  14.2
2016-01-06 14:45:00         7.0     7.5  924.4   2   6  20.4  43.0  13.0
2016-01-06 17:45:00         7.0    10.8  923.3   2   5  16.8  68.0  13.4
...                         ...     ...    ...  ..  ..   ...   ...   ...
2016-01-26 05:45:00         6.0     7.1  921.7   1   4   8.2  93.0   7.6
2016-01-26 08:45:00         7.0     7.9  923.9   1   4   9.4  91.0   8.6
2016-01-26 11:45:00         6.0     7.9  924.1   6   6  16.0  58.0  11.4
2016-01-26 14:45:00         7.0     5.5  920.9   3   6  17.6  45.0  11.4
2016-01-26 17:45:00         7.0     8.9  920.6   4   7  14.8  67.0  11.4
2016-01-27 05:45:00         6.0     7.7  920.8   1   4   9.0  92.0   8.3
2016-01-27 08:45:00         7.0     8.0  922.5   3   6  10.2  86.0   9.0
2016-01-27 11:45:00         7.0     6.0  922.9   3   5  16.2  52.0  10.8
2016-01-27 14:45:00         9.0     4.0  919.6   4   6  16.4  45.0  10.1
2016-01-27 17:45:00         7.0     7.2  919.8   4   7  14.0  68.0  10.6
2016-01-28 05:45:00         6.0     6.7  920.8   1   5   7.8  93.0   7.2
2016-01-28 08:45:00         5.0     7.9  923.0   3   7   9.7  88.0   8.7
2016-01-28 11:45:00         5.0     7.1  923.9   2   5  15.2  58.0  10.7
2016-01-28 14:45:00         6.0     4.1  921.3   3   7  15.7  46.0   9.6
2016-01-28 17:45:00         6.0     6.9  920.8   4   7  14.3  60.0  10.2
2016-01-29 05:45:00         6.0     6.8  923.8   1   1   7.6  95.0   7.2
2016-01-29 08:45:00         5.0     7.0  926.0   1   1   9.6  84.0   8.2
2016-01-29 11:45:00         5.0     7.1  925.9   1   1  16.4  54.0  11.2
2016-01-29 14:45:00         6.0     6.5  922.9   3   3  19.5  43.0  12.4
2016-01-29 17:45:00         6.0     6.7  922.7   4   7  16.4  63.0  11.2
2016-01-30 05:45:00         6.0     7.1  921.6   3   5   9.0  88.0   8.0
2016-01-30 08:45:00         5.0     7.6  923.1   2   2  10.2  84.0   8.8
2016-01-30 11:45:00         5.0     8.7  922.8   2   2  17.0  58.0  12.2
2016-01-30 14:45:00         6.0     6.8  919.6   2   2  18.6  46.0  12.2
2016-01-30 17:45:00         6.0     8.9  919.0   3   5  15.6  65.0  11.9
2016-01-31 05:45:00        10.0     8.1  920.1   3   3   9.2  93.0   8.6
2016-01-31 08:45:00        10.0     8.7  922.2   1   1  10.0  92.0   9.3
2016-01-31 11:45:00        10.0     9.9  924.3   4   7  14.2  75.0  11.7
2016-01-31 14:45:00         5.0     9.2  921.5   3   5  17.6  58.0  12.8
2016-01-31 17:45:00         5.0     9.6  920.8   3   7  15.4  70.0  12.2

[155 rows x 8 columns]

# Now do, the above process for all the months

In [46]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
month2int = {month:i+1 for i, month in enumerate(months)}
int2month = {i+1:month for i, month in enumerate(months)}

In [47]:
class IntegrityError(Exception):
    pass

In [49]:
def check_df_integrity(df, sheet):
    if len(df) not in {140, 145, 150, 155}:
#         raise IntegrityError(f'Length of dataframe is not standard: {sheet}')
        raise IntegrityError('Length of dataframe is not standard: %s' % sheet)

    if df.index[0].hour != 5:
#         raise IntegrityError(f'File was parsed wrong way: {sheet}')
        raise IntegrityError('File was parsed wrong way: %s ' %sheet)

In [50]:
def get_visibility(file, month, year):
    df = pd.read_excel(file, sheet_name='visibility', skiprows=3)
    df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
#     df.index = pd.to_datetime([f'{month} {x}, {year} {y}' for x, y in zip(df.index, df['level_1'])])
    df.index = pd.to_datetime(['%s %s, %s %s' %(month, x, year, y) for x, y in zip(df.index, df['level_1'])])
    df.drop('level_1', axis=1, inplace=True)
    df.columns = ['visibility']
    check_df_integrity(df, 'visibility')
    return df

In [51]:
def get_dew_point(file, month, year):
    df = pd.read_excel(file, sheet_name='Dew pt', skiprows=3)
    df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
#     df.index = pd.to_datetime([f'{month} {x}, {year} {y}' for x, y in zip(df.index, df['level_1'])])
    df.index = pd.to_datetime(['%s %s, %s %s' %(month, x, year, y) for x, y in zip(df.index, df['level_1'])])
    df.drop('level_1', axis=1, inplace=True)
    df.columns = ['dew_pt']
    check_df_integrity(df, 'dew_pt')
    return df

In [52]:
def get_qfe(file, month, year):
    df = pd.read_excel(file, sheet_name='QFE', skiprows=3)
    df = df.dropna(axis=0).set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
#     df.index = pd.to_datetime([f'{month} {x}, {year} {y}' for x, y in zip(df.index, df['level_1'])])
    df.index = pd.to_datetime(['%s %s, %s %s' %(month, x, year, y) for x, y in zip(df.index, df['level_1'])])
    df.drop('level_1', axis=1, inplace=True)
    df.columns = ['QFE']
    check_df_integrity(df, 'qfe')
    return df.astype(float)

In [53]:
def get_cloud(file, month, year):
    df = pd.read_excel(file, sheet_name='cloud', skiprows=3, header=[0, 1])
    df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
    df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1'))
#     df.index = pd.to_datetime([f'{month} {x}, {year} {y}' for x, y in zip(df.index, df['level_1'])])
    df.index = pd.to_datetime(['%s %s, %s %s' %(month, x, year, y) for x, y in zip(df.index, df['level_1'])])
    df.drop('level_1', axis=1, inplace=True)
    df.columns = ['LC', 'TC']
    check_df_integrity(df, 'cloud')
    return df

In [54]:
def get_temperature(file, month, year):
    df = pd.read_excel(file, sheet_name='Temperature', skiprows=2, header=[0, 1]).iloc[:, 0:16]
    df = df.set_index(('Day', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
    df = df.set_index(('Day', 'Unnamed: 0_level_1'))
#     df.index = pd.to_datetime([f'{month} {x}, {year} {y}' for x, y in zip(df.index, df['level_1'])])
    df.index = pd.to_datetime(['%s %s, %s %s' %(month, x, year, y) for x, y in zip(df.index, df['level_1'])])
    df.drop('level_1', axis=1, inplace=True)
    df.columns = ['DRY', 'RH', 'WET']
    check_df_integrity(df, 'temperature')
    return df

In [55]:
def get_main_df(file):
    xls = pd.ExcelFile(file)
    month, year = (file.split('/')[3][:3], file.split()[1][:4])
    df_visibility = get_visibility(xls, month, year)
    df_dew_point = get_dew_point(xls, month, year)
    df_qfe = get_qfe(xls, month, year)
    df_cloud = get_cloud(xls, month, year)
    df_temperature = get_temperature(xls, month, year)
    main_df = pd.concat(
    [
        df_visibility,
        df_dew_point,
        df_qfe,
        df_cloud,
        df_temperature
    ], axis=1)
    main_df['month'] = month2int[month]
    return main_df

In [64]:
PATH = './data'
folders = os.listdir('data')

In [65]:
final_df = pd.DataFrame()
for folder in folders:
    filepath = os.path.join(PATH, folder)
    for file in os.listdir(filepath):
        if file.endswith('.xlsx'):
            try:
                final_df = pd.concat([final_df, get_main_df(os.path.join(filepath, file))])
            except IntegrityError as e:
#                 print(f'INTEGRITY-ERROR -> {file}: {e}')
                print('INTEGRITY-ERROR -> %s: %s' %(file, e))

            except Exception as e:
                print('%s: %s' %(file, e))

April 2016.xlsx: list index out of range
August 2016.xlsx: list index out of range
December 2016.xlsx: list index out of range
Feb 2016.xlsx: list index out of range
Jan 2016.xlsx: list index out of range
July 2016.xlsx: list index out of range
June 2016.xlsx: list index out of range
March 2016.xlsx: list index out of range
May 2016.xlsx: list index out of range
November 2016.xlsx: list index out of range
October 2016.xlsx: list index out of range
September 2016.xlsx: list index out of range
April 2017.xlsx: list index out of range
August 2017.xlsx: list index out of range
December 2017.xlsx: list index out of range
Feb 2017.xlsx: list index out of range
January 2017.xlsx: list index out of range
July 2017.xlsx: list index out of range
June 2017.xlsx: list index out of range
Mar 2017.xlsx: list index out of range
May 2017.xlsx: list index out of range
November 2017.xlsx: list index out of range
October 2017.xlsx: list index out of range
September 2017.xlsx: list index out of range
April 2018.xlsx: list index out of range
August 2018.xlsx: list index out of range
December 2018.xlsx: list index out of range
Feb 2018.xlsx: list index out of range
January 2018.xlsx: list index out of range
July 2018.xlsx: list index out of range
June 2018.xlsx: list index out of range
Mar 2018.xlsx: list index out of range
May 2018.xlsx: list index out of range
November 2018.xlsx: list index out of range
October 2018.xlsx: list index out of range
September  2018.xlsx: list index out of range

In [66]:
final_df = final_df.sort_index()
final_df

Empty DataFrame
Columns: []
Index: []

# Save dataframe to disk

In [68]:
final_df.to_pickle('./dumps/df.pkl')