In [246]:
import os
import pandas as pd

In [247]:
main_df = pd.DataFrame()

In [248]:
xls = pd.ExcelFile('./data/2016/Jan 2016.xlsx')
xls.sheet_names

['visibility', 'Dew pt', 'QFE', 'cloud', 'Temperature']

# For visibility data

In [249]:
df = pd.read_excel(xls, sheet_name='visibility', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1         6       7.0         9         8         7
1              2         6       7.0         7         8         7
2              3         6       7.0         8         8         6
3              4         6       7.0         7         7         7
4              5         6       6.0         6         7         7

In [250]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.columns = ['Time', 'visibility']
df = pd.get_dummies(df)
df.head()

,visibility,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,6.0,1,0,0,0,0
1,7.0,0,1,0,0,0
1,9.0,0,0,1,0,0
1,8.0,0,0,0,1,0
1,7.0,0,0,0,0,1

In [251]:
main_df = pd.concat([main_df, df])

# For dew point

In [252]:
df = pd.read_excel(xls, sheet_name='Dew pt', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1       7.4       8.4       7.8       8.8      10.3
1              2       7.9       8.8       8.7       9.8      10.2
2              3       7.7       8.0       9.7       9.8       9.4
3              4       8.4       8.6       9.8       9.2       9.4
4              5       7.1       9.2       9.5      10.7      11.2

In [253]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.columns = ['Time', 'dew_pt']
df = pd.get_dummies(df)
df.head()

,dew_pt,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,7.4,1,0,0,0,0
1,8.4,0,1,0,0,0
1,7.8,0,0,1,0,0
1,8.8,0,0,0,1,0
1,10.3,0,0,0,0,1

In [254]:
main_df['dew_pt'] = df['dew_pt']
main_df.head()

,visibility,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00,dew_pt
Day/Time(UTC),,,,,,,
1,6.0,1,0,0,0,0,7.4
1,7.0,0,1,0,0,0,8.4
1,9.0,0,0,1,0,0,7.8
1,8.0,0,0,0,1,0,8.8
1,7.0,0,0,0,0,1,10.3

# For QFE

In [255]:
df = pd.read_excel(xls, sheet_name='QFE', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1     927.0     929.3     930.0     927.0     927.3
1              2     927.3     929.1     928.4     925.7     924.6
2              3     924.8     926.5     927.3     924.2     923.6
3              4     925.4     928.3     928.2     926.0     924.9
4              5     924.2     926.2     926.0     923.7     922.6

In [256]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.columns = ['Time', 'QFE']
df = pd.get_dummies(df)
df.head()

,QFE,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,927.0,1,0,0,0,0
1,929.3,0,1,0,0,0
1,930.0,0,0,1,0,0
1,927.0,0,0,0,1,0
1,927.3,0,0,0,0,1

In [257]:
main_df['QFE'] = df['QFE']
main_df.head()

,visibility,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00,dew_pt,QFE
Day/Time(UTC),,,,,,,,
1,6.0,1,0,0,0,0,7.4,927.0
1,7.0,0,1,0,0,0,8.4,929.3
1,9.0,0,0,1,0,0,7.8,930.0
1,8.0,0,0,0,1,0,8.8,927.0
1,7.0,0,0,0,0,1,10.3,927.3

# For Cloud

In [258]:
df = pd.read_excel(xls, sheet_name='cloud', skiprows=3, header=[0, 1])
df.head()

       Day/Time(UTC) 05:45:00    08:45:00    11:45:00    14:45:00    17:45:00  \
  Unnamed: 0_level_1       LC TC       LC TC       LC TC       LC TC       LC
0                  1        1  1        4  6        2  2        1  3        1
1                  2        1  1        1  1        1  1        2  2        1
2                  3        1  1        1  1        1  1        2  4        2
3                  4        1  1        1  1        1  1        3  6        1
4                  5        1  1        2  5        2  6        2  2        1


  TC
0  2
1  1
2  5
3  2
4  3

In [259]:
df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1'))
df.index.name = 'Day/Time(UTC)'
df = pd.get_dummies(df)

In [260]:
main_df['LC'] = df['LC']
main_df['TC'] = df['TC']
main_df.head()

,visibility,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00,dew_pt,QFE,LC,TC
Day/Time(UTC),,,,,,,,,,
1,6.0,1,0,0,0,0,7.4,927.0,1,1
1,7.0,0,1,0,0,0,8.4,929.3,4,6
1,9.0,0,0,1,0,0,7.8,930.0,2,2
1,8.0,0,0,0,1,0,8.8,927.0,1,3
1,7.0,0,0,0,0,1,10.3,927.3,1,2

# For the Temperature

In [261]:
df = pd.read_excel(xls, sheet_name='Temperature', skiprows=2, header=[0, 1]).iloc[:, 0:16]
df.head()

                 Day 05:45:00          08:45:00           11:45:00            \
  Unnamed: 0_level_1      DRY  WET  RH      DRY   WET  RH      DRY   WET  RH
0                  1      8.7  8.0  92     10.2   9.2  89     17.6  12.2  54
1                  2      8.6  8.2  95     10.2   9.4  91     18.5  12.8  53
2                  3      8.4  8.0  95      9.8   8.8  88     18.2  13.2  58
3                  4      8.8  8.6  98     10.0   9.2  91     18.4  13.3  57
4                  5      8.2  7.6  93     11.4  10.2  87     18.0  13.0  58

  14:45:00           17:45:00
       DRY   WET  RH      DRY   WET    RH
0     20.8  14.0  46     16.4  12.9  67.0
1     21.6  14.5  47     16.7  13.0  66.0
2     20.2  14.0  50     17.3  12.8  60.0
3     20.2  13.7  49     17.3  12.8  60.0
4     20.7  14.6  53     17.2  13.7  68.0

In [262]:
df = df.set_index(('Day', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
df = df.set_index(('Day', 'Unnamed: 0_level_1'))
df.index.name = 'Day/Time(UTC)'
df = pd.get_dummies(df)

In [263]:
main_df['DRY'] = df['DRY']
main_df['RH'] = df['RH']
main_df['WET'] = df['WET']
main_df.head()

,visibility,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00,dew_pt,QFE,LC,TC,DRY,RH,WET
Day/Time(UTC),,,,,,,,,,,,,
1,6.0,1,0,0,0,0,7.4,927.0,1,1,8.7,92.0,8.0
1,7.0,0,1,0,0,0,8.4,929.3,4,6,10.2,89.0,9.2
1,9.0,0,0,1,0,0,7.8,930.0,2,2,17.6,54.0,12.2
1,8.0,0,0,0,1,0,8.8,927.0,1,3,20.8,46.0,14.0
1,7.0,0,0,0,0,1,10.3,927.3,1,2,16.4,67.0,12.9

# Now we have the required df for the month

In [264]:
main_df

,visibility,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00,dew_pt,QFE,LC,TC,DRY,RH,WET
Day/Time(UTC),,,,,,,,,,,,,
1,6.0,1,0,0,0,0,7.4,927.0,1,1,8.7,92.0,8.0
1,7.0,0,1,0,0,0,8.4,929.3,4,6,10.2,89.0,9.2
1,9.0,0,0,1,0,0,7.8,930.0,2,2,17.6,54.0,12.2
1,8.0,0,0,0,1,0,8.8,927.0,1,3,20.8,46.0,14.0
1,7.0,0,0,0,0,1,10.3,927.3,1,2,16.4,67.0,12.9
2,6.0,1,0,0,0,0,7.9,927.3,1,1,8.6,95.0,8.2
2,7.0,0,1,0,0,0,8.8,929.1,1,1,10.2,91.0,9.4
2,7.0,0,0,1,0,0,8.7,928.4,1,1,18.5,53.0,12.8
2,8.0,0,0,0,1,0,9.8,925.7,2,2,21.6,47.0,14.5
2,7.0,0,0,0,0,1,10.2,924.6,1,1,16.7,66.0,13.0
3,6.0,1,0,0,0,0,7.7,924.8,1,1,8.4,95.0,8.0
3,7.0,0,1,0,0,0,8.0,926.5,1,1,9.8,88.0,8.8
3,8.0,0,0,1,0,0,9.7,927.3,1,1,18.2,58.0,13.2
3,8.0,0,0,0,1,0,9.8,924.2,2,4,20.2,50.0,14.0
3,6.0,0,0,0,0,1,9.4,923.6,2,5,17.3,60.0,12.8
4,6.0,1,0,0,0,0,8.4,925.4,1,1,8.8,98.0,8.6
4,7.0,0,1,0,0,0,8.6,928.3,1,1,10.0,91.0,9.2
4,7.0,0,0,1,0,0,9.8,928.2,1,1,18.4,57.0,13.3
4,7.0,0,0,0,1,0,9.2,926.0,3,6,20.2,49.0,13.7
4,7.0,0,0,0,0,1,9.4,924.9,1,2,17.3,60.0,12.8
5,6.0,1,0,0,0,0,7.1,924.2,1,1,8.2,93.0,7.6
5,6.0,0,1,0,0,0,9.2,926.2,2,5,11.4,87.0,10.2
5,6.0,0,0,1,0,0,9.5,926.0,2,6,18.0,58.0,13.0
5,7.0,0,0,0,1,0,10.7,923.7,2,2,20.7,53.0,14.6
5,7.0,0,0,0,0,1,11.2,922.6,1,3,17.2,68.0,13.7
6,6.0,1,0,0,0,0,9.8,924.7,1,2,10.9,94.0,10.4
6,5.0,0,1,0,0,0,10.9,926.7,2,6,12.0,93.0,11.4
6,6.0,0,0,1,0,0,11.4,926.8,2,3,18.6,63.0,14.2
6,7.0,0,0,0,1,0,7.5,924.4,2,6,20.4,43.0,13.0
6,7.0,0,0,0,0,1,10.8,923.3,2,5,16.8,68.0,13.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,6.0,1,0,0,0,0,7.1,921.7,1,4,8.2,93.0,7.6
26,7.0,0,1,0,0,0,7.9,923.9,1,4,9.4,91.0,8.6
26,6.0,0,0,1,0,0,7.9,924.1,6,6,16.0,58.0,11.4
26,7.0,0,0,0,1,0,5.5,920.9,3,6,17.6,45.0,11.4
26,7.0,0,0,0,0,1,8.9,920.6,4,7,14.8,67.0,11.4
27,6.0,1,0,0,0,0,7.7,920.8,1,4,9.0,92.0,8.3
27,7.0,0,1,0,0,0,8.0,922.5,3,6,10.2,86.0,9.0
27,7.0,0,0,1,0,0,6.0,922.9,3,5,16.2,52.0,10.8
27,9.0,0,0,0,1,0,4.0,919.6,4,6,16.4,45.0,10.1
27,7.0,0,0,0,0,1,7.2,919.8,4,7,14.0,68.0,10.6
28,6.0,1,0,0,0,0,6.7,920.8,1,5,7.8,93.0,7.2
28,5.0,0,1,0,0,0,7.9,923.0,3,7,9.7,88.0,8.7
28,5.0,0,0,1,0,0,7.1,923.9,2,5,15.2,58.0,10.7
28,6.0,0,0,0,1,0,4.1,921.3,3,7,15.7,46.0,9.6
28,6.0,0,0,0,0,1,6.9,920.8,4,7,14.3,60.0,10.2
29,6.0,1,0,0,0,0,6.8,923.8,1,1,7.6,95.0,7.2
29,5.0,0,1,0,0,0,7.0,926.0,1,1,9.6,84.0,8.2
29,5.0,0,0,1,0,0,7.1,925.9,1,1,16.4,54.0,11.2
29,6.0,0,0,0,1,0,6.5,922.9,3,3,19.5,43.0,12.4
29,6.0,0,0,0,0,1,6.7,922.7,4,7,16.4,63.0,11.2
30,6.0,1,0,0,0,0,7.1,921.6,3,5,9.0,88.0,8.0
30,5.0,0,1,0,0,0,7.6,923.1,2,2,10.2,84.0,8.8
30,5.0,0,0,1,0,0,8.7,922.8,2,2,17.0,58.0,12.2
30,6.0,0,0,0,1,0,6.8,919.6,2,2,18.6,46.0,12.2
30,6.0,0,0,0,0,1,8.9,919.0,3,5,15.6,65.0,11.9
31,10.0,1,0,0,0,0,8.1,920.1,3,3,9.2,93.0,8.6
31,10.0,0,1,0,0,0,8.7,922.2,1,1,10.0,92.0,9.3
31,10.0,0,0,1,0,0,9.9,924.3,4,7,14.2,75.0,11.7
31,5.0,0,0,0,1,0,9.2,921.5,3,5,17.6,58.0,12.8
31,5.0,0,0,0,0,1,9.6,920.8,3,7,15.4,70.0,12.2