In [1]:
import os
import pandas as pd

In [2]:
xls = pd.ExcelFile('./data/2016/Jan 2016.xlsx')
xls.sheet_names

['visibility', 'Dew pt', 'QFE', 'cloud', 'Temperature']

# For visibility data

In [24]:
df = pd.read_excel(xls, sheet_name='visibility', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1         6       7.0         9         8         7
1              2         6       7.0         7         8         7
2              3         6       7.0         8         8         6
3              4         6       7.0         7         7         7
4              5         6       6.0         6         7         7

In [25]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')

In [29]:
df.columns = ['Time', 'visibility']
df.head()
df = pd.get_dummies(df)

In [30]:
df

,visibility,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,6.0,1,0,0,0,0
1,7.0,0,1,0,0,0
1,9.0,0,0,1,0,0
1,8.0,0,0,0,1,0
1,7.0,0,0,0,0,1
2,6.0,1,0,0,0,0
2,7.0,0,1,0,0,0
2,7.0,0,0,1,0,0
2,8.0,0,0,0,1,0
2,7.0,0,0,0,0,1
3,6.0,1,0,0,0,0
3,7.0,0,1,0,0,0
3,8.0,0,0,1,0,0
3,8.0,0,0,0,1,0
3,6.0,0,0,0,0,1
4,6.0,1,0,0,0,0
4,7.0,0,1,0,0,0
4,7.0,0,0,1,0,0
4,7.0,0,0,0,1,0
4,7.0,0,0,0,0,1
5,6.0,1,0,0,0,0
5,6.0,0,1,0,0,0
5,6.0,0,0,1,0,0
5,7.0,0,0,0,1,0
5,7.0,0,0,0,0,1
6,6.0,1,0,0,0,0
6,5.0,0,1,0,0,0
6,6.0,0,0,1,0,0
6,7.0,0,0,0,1,0
6,7.0,0,0,0,0,1
...,...,...,...,...,...,...
26,6.0,1,0,0,0,0
26,7.0,0,1,0,0,0
26,6.0,0,0,1,0,0
26,7.0,0,0,0,1,0
26,7.0,0,0,0,0,1
27,6.0,1,0,0,0,0
27,7.0,0,1,0,0,0
27,7.0,0,0,1,0,0
27,9.0,0,0,0,1,0
27,7.0,0,0,0,0,1
28,6.0,1,0,0,0,0
28,5.0,0,1,0,0,0
28,5.0,0,0,1,0,0
28,6.0,0,0,0,1,0
28,6.0,0,0,0,0,1
29,6.0,1,0,0,0,0
29,5.0,0,1,0,0,0
29,5.0,0,0,1,0,0
29,6.0,0,0,0,1,0
29,6.0,0,0,0,0,1
30,6.0,1,0,0,0,0
30,5.0,0,1,0,0,0
30,5.0,0,0,1,0,0
30,6.0,0,0,0,1,0
30,6.0,0,0,0,0,1
31,10.0,1,0,0,0,0
31,10.0,0,1,0,0,0
31,10.0,0,0,1,0,0
31,5.0,0,0,0,1,0
31,5.0,0,0,0,0,1