In [1]:
import os
import pandas as pd

In [2]:
main_df = pd.DataFrame()

In [3]:
xls = pd.ExcelFile('./data/2016/Jan 2016.xlsx')
xls.sheet_names

['visibility', 'Dew pt', 'QFE', 'cloud', 'Temperature']

# For visibility data

In [4]:
df = pd.read_excel(xls, sheet_name='visibility', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1         6       7.0         9         8         7
1              2         6       7.0         7         8         7
2              3         6       7.0         8         8         6
3              4         6       7.0         7         7         7
4              5         6       6.0         6         7         7

In [5]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['visibility']
df.head()

                     visibility
2016-01-01 05:45:00         6.0
2016-01-01 08:45:00         7.0
2016-01-01 11:45:00         9.0
2016-01-01 14:45:00         8.0
2016-01-01 17:45:00         7.0

In [6]:
main_df = pd.concat([main_df, df], axis=1)
main_df.head()

                     visibility
2016-01-01 05:45:00         6.0
2016-01-01 08:45:00         7.0
2016-01-01 11:45:00         9.0
2016-01-01 14:45:00         8.0
2016-01-01 17:45:00         7.0

# For dew point

In [7]:
df = pd.read_excel(xls, sheet_name='Dew pt', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1       7.4       8.4       7.8       8.8      10.3
1              2       7.9       8.8       8.7       9.8      10.2
2              3       7.7       8.0       9.7       9.8       9.4
3              4       8.4       8.6       9.8       9.2       9.4
4              5       7.1       9.2       9.5      10.7      11.2

In [8]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['dew_pt']
df.head()

                     dew_pt
2016-01-01 05:45:00     7.4
2016-01-01 08:45:00     8.4
2016-01-01 11:45:00     7.8
2016-01-01 14:45:00     8.8
2016-01-01 17:45:00    10.3

In [9]:
main_df['dew_pt'] = df['dew_pt']
main_df.head()

                     visibility  dew_pt
2016-01-01 05:45:00         6.0     7.4
2016-01-01 08:45:00         7.0     8.4
2016-01-01 11:45:00         9.0     7.8
2016-01-01 14:45:00         8.0     8.8
2016-01-01 17:45:00         7.0    10.3

# For QFE

In [10]:
df = pd.read_excel(xls, sheet_name='QFE', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1     927.0     929.3     930.0     927.0     927.3
1              2     927.3     929.1     928.4     925.7     924.6
2              3     924.8     926.5     927.3     924.2     923.6
3              4     925.4     928.3     928.2     926.0     924.9
4              5     924.2     926.2     926.0     923.7     922.6

In [11]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['QFE']
df.head()

                       QFE
2016-01-01 05:45:00  927.0
2016-01-01 08:45:00  929.3
2016-01-01 11:45:00  930.0
2016-01-01 14:45:00  927.0
2016-01-01 17:45:00  927.3

In [12]:
main_df['QFE'] = df['QFE']
main_df.head()

                     visibility  dew_pt    QFE
2016-01-01 05:45:00         6.0     7.4  927.0
2016-01-01 08:45:00         7.0     8.4  929.3
2016-01-01 11:45:00         9.0     7.8  930.0
2016-01-01 14:45:00         8.0     8.8  927.0
2016-01-01 17:45:00         7.0    10.3  927.3

# For Cloud

In [13]:
df = pd.read_excel(xls, sheet_name='cloud', skiprows=3, header=[0, 1])
df.head()

       Day/Time(UTC) 05:45:00    08:45:00    11:45:00    14:45:00    17:45:00  \
  Unnamed: 0_level_1       LC TC       LC TC       LC TC       LC TC       LC
0                  1        1  1        4  6        2  2        1  3        1
1                  2        1  1        1  1        1  1        2  2        1
2                  3        1  1        1  1        1  1        2  4        2
3                  4        1  1        1  1        1  1        3  6        1
4                  5        1  1        2  5        2  6        2  2        1


  TC
0  2
1  1
2  5
3  2
4  3

In [14]:
df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1'))
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['LC', 'TC']
df.head()

                     LC  TC
2016-01-01 05:45:00   1   1
2016-01-01 08:45:00   4   6
2016-01-01 11:45:00   2   2
2016-01-01 14:45:00   1   3
2016-01-01 17:45:00   1   2

In [15]:
main_df['LC'] = df['LC']
main_df['TC'] = df['TC']
main_df.head()

                     visibility  dew_pt    QFE  LC  TC
2016-01-01 05:45:00         6.0     7.4  927.0   1   1
2016-01-01 08:45:00         7.0     8.4  929.3   4   6
2016-01-01 11:45:00         9.0     7.8  930.0   2   2
2016-01-01 14:45:00         8.0     8.8  927.0   1   3
2016-01-01 17:45:00         7.0    10.3  927.3   1   2

# For the Temperature

In [16]:
df = pd.read_excel(xls, sheet_name='Temperature', skiprows=2, header=[0, 1]).iloc[:, 0:16]
df.head()

                 Day 05:45:00          08:45:00           11:45:00            \
  Unnamed: 0_level_1      DRY  WET  RH      DRY   WET  RH      DRY   WET  RH
0                  1      8.7  8.0  92     10.2   9.2  89     17.6  12.2  54
1                  2      8.6  8.2  95     10.2   9.4  91     18.5  12.8  53
2                  3      8.4  8.0  95      9.8   8.8  88     18.2  13.2  58
3                  4      8.8  8.6  98     10.0   9.2  91     18.4  13.3  57
4                  5      8.2  7.6  93     11.4  10.2  87     18.0  13.0  58

  14:45:00           17:45:00
       DRY   WET  RH      DRY   WET    RH
0     20.8  14.0  46     16.4  12.9  67.0
1     21.6  14.5  47     16.7  13.0  66.0
2     20.2  14.0  50     17.3  12.8  60.0
3     20.2  13.7  49     17.3  12.8  60.0
4     20.7  14.6  53     17.2  13.7  68.0

In [17]:
df = df.set_index(('Day', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
df = df.set_index(('Day', 'Unnamed: 0_level_1'))
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['DRY', 'RH', 'WET']
df.head()

                      DRY    RH   WET
2016-01-01 05:45:00   8.7  92.0   8.0
2016-01-01 08:45:00  10.2  89.0   9.2
2016-01-01 11:45:00  17.6  54.0  12.2
2016-01-01 14:45:00  20.8  46.0  14.0
2016-01-01 17:45:00  16.4  67.0  12.9

In [18]:
main_df['DRY'] = df['DRY']
main_df['RH'] = df['RH']
main_df['WET'] = df['WET']
main_df.head()

                     visibility  dew_pt    QFE  LC  TC   DRY    RH   WET
2016-01-01 05:45:00         6.0     7.4  927.0   1   1   8.7  92.0   8.0
2016-01-01 08:45:00         7.0     8.4  929.3   4   6  10.2  89.0   9.2
2016-01-01 11:45:00         9.0     7.8  930.0   2   2  17.6  54.0  12.2
2016-01-01 14:45:00         8.0     8.8  927.0   1   3  20.8  46.0  14.0
2016-01-01 17:45:00         7.0    10.3  927.3   1   2  16.4  67.0  12.9

# Now we have the required df for the month

In [20]:
main_df.to_pickle('./dumps/Jan2016.pkl')
main_df

                     visibility  dew_pt    QFE  LC  TC   DRY    RH   WET
2016-01-01 05:45:00         6.0     7.4  927.0   1   1   8.7  92.0   8.0
2016-01-01 08:45:00         7.0     8.4  929.3   4   6  10.2  89.0   9.2
2016-01-01 11:45:00         9.0     7.8  930.0   2   2  17.6  54.0  12.2
2016-01-01 14:45:00         8.0     8.8  927.0   1   3  20.8  46.0  14.0
2016-01-01 17:45:00         7.0    10.3  927.3   1   2  16.4  67.0  12.9
...                         ...     ...    ...  ..  ..   ...   ...   ...
2016-01-31 05:45:00        10.0     8.1  920.1   3   3   9.2  93.0   8.6
2016-01-31 08:45:00        10.0     8.7  922.2   1   1  10.0  92.0   9.3
2016-01-31 11:45:00        10.0     9.9  924.3   4   7  14.2  75.0  11.7
2016-01-31 14:45:00         5.0     9.2  921.5   3   5  17.6  58.0  12.8
2016-01-31 17:45:00         5.0     9.6  920.8   3   7  15.4  70.0  12.2

[155 rows x 8 columns]