In [24]:
import os
import numpy as np
import pandas as pd

In [2]:
main_df = pd.DataFrame()

In [3]:
xls = pd.ExcelFile('./data/2016/Jan 2016.xlsx')
xls.sheet_names

['visibility', 'Dew pt', 'QFE', 'cloud', 'Temperature']

# For visibility data

In [4]:
df = pd.read_excel(xls, sheet_name='visibility', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1         6       7.0         9         8         7
1              2         6       7.0         7         8         7
2              3         6       7.0         8         8         6
3              4         6       7.0         7         7         7
4              5         6       6.0         6         7         7

In [5]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['visibility']
df.head()

                     visibility
2016-01-01 05:45:00         6.0
2016-01-01 08:45:00         7.0
2016-01-01 11:45:00         9.0
2016-01-01 14:45:00         8.0
2016-01-01 17:45:00         7.0

In [6]:
main_df = pd.concat([main_df, df], axis=1)
main_df.head()

                     visibility
2016-01-01 05:45:00         6.0
2016-01-01 08:45:00         7.0
2016-01-01 11:45:00         9.0
2016-01-01 14:45:00         8.0
2016-01-01 17:45:00         7.0

# For dew point

In [7]:
df = pd.read_excel(xls, sheet_name='Dew pt', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1       7.4       8.4       7.8       8.8      10.3
1              2       7.9       8.8       8.7       9.8      10.2
2              3       7.7       8.0       9.7       9.8       9.4
3              4       8.4       8.6       9.8       9.2       9.4
4              5       7.1       9.2       9.5      10.7      11.2

In [8]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['dew_pt']
df.head()

                     dew_pt
2016-01-01 05:45:00     7.4
2016-01-01 08:45:00     8.4
2016-01-01 11:45:00     7.8
2016-01-01 14:45:00     8.8
2016-01-01 17:45:00    10.3

In [9]:
main_df['dew_pt'] = df['dew_pt']
main_df.head()

                     visibility  dew_pt
2016-01-01 05:45:00         6.0     7.4
2016-01-01 08:45:00         7.0     8.4
2016-01-01 11:45:00         9.0     7.8
2016-01-01 14:45:00         8.0     8.8
2016-01-01 17:45:00         7.0    10.3

# For QFE

In [10]:
df = pd.read_excel(xls, sheet_name='QFE', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1     927.0     929.3     930.0     927.0     927.3
1              2     927.3     929.1     928.4     925.7     924.6
2              3     924.8     926.5     927.3     924.2     923.6
3              4     925.4     928.3     928.2     926.0     924.9
4              5     924.2     926.2     926.0     923.7     922.6

In [11]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['QFE']
df.head()

                       QFE
2016-01-01 05:45:00  927.0
2016-01-01 08:45:00  929.3
2016-01-01 11:45:00  930.0
2016-01-01 14:45:00  927.0
2016-01-01 17:45:00  927.3

In [12]:
main_df['QFE'] = df['QFE']
main_df.head()

                     visibility  dew_pt    QFE
2016-01-01 05:45:00         6.0     7.4  927.0
2016-01-01 08:45:00         7.0     8.4  929.3
2016-01-01 11:45:00         9.0     7.8  930.0
2016-01-01 14:45:00         8.0     8.8  927.0
2016-01-01 17:45:00         7.0    10.3  927.3

# For Cloud

In [13]:
df = pd.read_excel(xls, sheet_name='cloud', skiprows=3, header=[0, 1])
df.head()

       Day/Time(UTC) 05:45:00    08:45:00    11:45:00    14:45:00    17:45:00  \
  Unnamed: 0_level_1       LC TC       LC TC       LC TC       LC TC       LC
0                  1        1  1        4  6        2  2        1  3        1
1                  2        1  1        1  1        1  1        2  2        1
2                  3        1  1        1  1        1  1        2  4        2
3                  4        1  1        1  1        1  1        3  6        1
4                  5        1  1        2  5        2  6        2  2        1


  TC
0  2
1  1
2  5
3  2
4  3

In [14]:
df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
df = df.set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1'))
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['LC', 'TC']
df.head()

                     LC  TC
2016-01-01 05:45:00   1   1
2016-01-01 08:45:00   4   6
2016-01-01 11:45:00   2   2
2016-01-01 14:45:00   1   3
2016-01-01 17:45:00   1   2

In [15]:
main_df['LC'] = df['LC']
main_df['TC'] = df['TC']
main_df.head()

                     visibility  dew_pt    QFE  LC  TC
2016-01-01 05:45:00         6.0     7.4  927.0   1   1
2016-01-01 08:45:00         7.0     8.4  929.3   4   6
2016-01-01 11:45:00         9.0     7.8  930.0   2   2
2016-01-01 14:45:00         8.0     8.8  927.0   1   3
2016-01-01 17:45:00         7.0    10.3  927.3   1   2

# For the Temperature

In [16]:
df = pd.read_excel(xls, sheet_name='Temperature', skiprows=2, header=[0, 1]).iloc[:, 0:16]
df.head()

                 Day 05:45:00          08:45:00           11:45:00            \
  Unnamed: 0_level_1      DRY  WET  RH      DRY   WET  RH      DRY   WET  RH
0                  1      8.7  8.0  92     10.2   9.2  89     17.6  12.2  54
1                  2      8.6  8.2  95     10.2   9.4  91     18.5  12.8  53
2                  3      8.4  8.0  95      9.8   8.8  88     18.2  13.2  58
3                  4      8.8  8.6  98     10.0   9.2  91     18.4  13.3  57
4                  5      8.2  7.6  93     11.4  10.2  87     18.0  13.0  58

  14:45:00           17:45:00
       DRY   WET  RH      DRY   WET    RH
0     20.8  14.0  46     16.4  12.9  67.0
1     21.6  14.5  47     16.7  13.0  66.0
2     20.2  14.0  50     17.3  12.8  60.0
3     20.2  13.7  49     17.3  12.8  60.0
4     20.7  14.6  53     17.2  13.7  68.0

In [17]:
df = df.set_index(('Day', 'Unnamed: 0_level_1')).stack(level=0).reset_index()
df = df.set_index(('Day', 'Unnamed: 0_level_1'))
df.index = pd.to_datetime([f'Jan {x}, 2016 {y}' for x, y in zip(df.index, df['level_1'])])
df.drop('level_1', axis=1, inplace=True)
df.columns = ['DRY', 'RH', 'WET']
df.head()

                      DRY    RH   WET
2016-01-01 05:45:00   8.7  92.0   8.0
2016-01-01 08:45:00  10.2  89.0   9.2
2016-01-01 11:45:00  17.6  54.0  12.2
2016-01-01 14:45:00  20.8  46.0  14.0
2016-01-01 17:45:00  16.4  67.0  12.9

In [18]:
main_df['DRY'] = df['DRY']
main_df['RH'] = df['RH']
main_df['WET'] = df['WET']
main_df.head()

                     visibility  dew_pt    QFE  LC  TC   DRY    RH   WET
2016-01-01 05:45:00         6.0     7.4  927.0   1   1   8.7  92.0   8.0
2016-01-01 08:45:00         7.0     8.4  929.3   4   6  10.2  89.0   9.2
2016-01-01 11:45:00         9.0     7.8  930.0   2   2  17.6  54.0  12.2
2016-01-01 14:45:00         8.0     8.8  927.0   1   3  20.8  46.0  14.0
2016-01-01 17:45:00         7.0    10.3  927.3   1   2  16.4  67.0  12.9

# Now we have the required df for the month

In [20]:
main_df.to_pickle('./dumps/Jan2016.pkl')
main_df

                     visibility  dew_pt    QFE  LC  TC   DRY    RH   WET
2016-01-01 05:45:00         6.0     7.4  927.0   1   1   8.7  92.0   8.0
2016-01-01 08:45:00         7.0     8.4  929.3   4   6  10.2  89.0   9.2
2016-01-01 11:45:00         9.0     7.8  930.0   2   2  17.6  54.0  12.2
2016-01-01 14:45:00         8.0     8.8  927.0   1   3  20.8  46.0  14.0
2016-01-01 17:45:00         7.0    10.3  927.3   1   2  16.4  67.0  12.9
...                         ...     ...    ...  ..  ..   ...   ...   ...
2016-01-31 05:45:00        10.0     8.1  920.1   3   3   9.2  93.0   8.6
2016-01-31 08:45:00        10.0     8.7  922.2   1   1  10.0  92.0   9.3
2016-01-31 11:45:00        10.0     9.9  924.3   4   7  14.2  75.0  11.7
2016-01-31 14:45:00         5.0     9.2  921.5   3   5  17.6  58.0  12.8
2016-01-31 17:45:00         5.0     9.6  920.8   3   7  15.4  70.0  12.2

[155 rows x 8 columns]

In [130]:
LOOK_BACK = 10

In [131]:
def create_dataset(dataset, look_back=1):
    dataX, dataY = [], []
    for i in range(len(dataset)-look_back-1):
        a = dataset[i:(i+look_back), :]
        dataX.append(a)
        dataY.append(dataset[i + look_back, :])
    return np.array(dataX), np.array(dataY)

In [132]:
scaler = StandardScaler()
X = scaler.fit_transform(main_df)

In [133]:
X, y = create_dataset(X, look_back=LOOK_BACK)

In [134]:
X.shape, y.shape

((144, 10, 8), (144, 8))

In [149]:
from keras.models import Sequential
from keras.layers import LSTM, Dense
import keras.backend as k
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [150]:
X_train, y_train = X[:-10], y[:-10]
X_test, y_test = X[-10:], y[-10:]

In [151]:
k.clear_session()
model = Sequential()
model.add(LSTM(32, input_shape=(LOOK_BACK, 8)))
model.add(Dense(8))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_1 (LSTM)                (None, 32)                5248
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 264
=================================================================
Total params: 5,512
Trainable params: 5,512
Non-trainable params: 0
_________________________________________________________________

In [152]:
model.compile(loss='mse', optimizer='adam')

In [153]:
model.fit(X_train, y_train, epochs=80, batch_size=64, validation_data=[X_test, y_test])

Train on 134 samples, validate on 10 samples
Epoch 1/80
134/134 [==============================] - 1s 6ms/step - loss: 1.0276 - val_loss: 0.9246
Epoch 2/80
134/134 [==============================] - 0s 585us/step - loss: 1.0053 - val_loss: 0.9169
Epoch 3/80
134/134 [==============================] - 0s 468us/step - loss: 0.9855 - val_loss: 0.9083
Epoch 4/80
134/134 [==============================] - 0s 502us/step - loss: 0.9678 - val_loss: 0.8993
Epoch 5/80
134/134 [==============================] - 0s 517us/step - loss: 0.9498 - val_loss: 0.8902
Epoch 6/80
134/134 [==============================] - 0s 492us/step - loss: 0.9337 - val_loss: 0.8809
Epoch 7/80
134/134 [==============================] - 0s 566us/step - loss: 0.9173 - val_loss: 0.8723
Epoch 8/80
134/134 [==============================] - 0s 512us/step - loss: 0.9022 - val_loss: 0.8634
Epoch 9/80
134/134 [==============================] - 0s 492us/step - loss: 0.8872 - val_loss: 0.8553
Epoch 10/80
134/134 [==============================] - 0s 671us/step - loss: 0.8729 - val_loss: 0.8487
Epoch 11/80
134/134 [==============================] - 0s 543us/step - loss: 0.8602 - val_loss: 0.8422
Epoch 12/80
134/134 [==============================] - 0s 581us/step - loss: 0.8477 - val_loss: 0.8359
Epoch 13/80
134/134 [==============================] - 0s 505us/step - loss: 0.8358 - val_loss: 0.8295
Epoch 14/80
134/134 [==============================] - 0s 477us/step - loss: 0.8246 - val_loss: 0.8226
Epoch 15/80
134/134 [==============================] - 0s 552us/step - loss: 0.8134 - val_loss: 0.8155
Epoch 16/80
134/134 [==============================] - 0s 511us/step - loss: 0.8026 - val_loss: 0.8100
Epoch 17/80
134/134 [==============================] - 0s 644us/step - loss: 0.7916 - val_loss: 0.8053
Epoch 18/80
134/134 [==============================] - 0s 633us/step - loss: 0.7819 - val_loss: 0.8014
Epoch 19/80
134/134 [==============================] - 0s 563us/step - loss: 0.7724 - val_loss: 0.7978
Epoch 20/80
134/134 [==============================] - 0s 553us/step - loss: 0.7638 - val_loss: 0.7949
Epoch 21/80
134/134 [==============================] - 0s 551us/step - loss: 0.7559 - val_loss: 0.7932
Epoch 22/80
134/134 [==============================] - 0s 539us/step - loss: 0.7484 - val_loss: 0.7914
Epoch 23/80
134/134 [==============================] - 0s 500us/step - loss: 0.7420 - val_loss: 0.7898
Epoch 24/80
134/134 [==============================] - 0s 541us/step - loss: 0.7355 - val_loss: 0.7889
Epoch 25/80
134/134 [==============================] - 0s 543us/step - loss: 0.7298 - val_loss: 0.7877
Epoch 26/80
134/134 [==============================] - 0s 558us/step - loss: 0.7240 - val_loss: 0.7847
Epoch 27/80
134/134 [==============================] - 0s 600us/step - loss: 0.7189 - val_loss: 0.7817
Epoch 28/80
134/134 [==============================] - 0s 592us/step - loss: 0.7145 - val_loss: 0.7783
Epoch 29/80
134/134 [==============================] - 0s 640us/step - loss: 0.7107 - val_loss: 0.7750
Epoch 30/80
134/134 [==============================] - 0s 649us/step - loss: 0.7069 - val_loss: 0.7718
Epoch 31/80
134/134 [==============================] - 0s 548us/step - loss: 0.7038 - val_loss: 0.7685
Epoch 32/80
134/134 [==============================] - 0s 634us/step - loss: 0.6998 - val_loss: 0.7659
Epoch 33/80
134/134 [==============================] - 0s 523us/step - loss: 0.6958 - val_loss: 0.7636
Epoch 34/80
134/134 [==============================] - 0s 559us/step - loss: 0.6918 - val_loss: 0.7614
Epoch 35/80
134/134 [==============================] - 0s 604us/step - loss: 0.6877 - val_loss: 0.7601
Epoch 36/80
134/134 [==============================] - 0s 598us/step - loss: 0.6839 - val_loss: 0.7591
Epoch 37/80
134/134 [==============================] - 0s 577us/step - loss: 0.6801 - val_loss: 0.7575
Epoch 38/80
134/134 [==============================] - 0s 527us/step - loss: 0.6764 - val_loss: 0.7558
Epoch 39/80
134/134 [==============================] - 0s 464us/step - loss: 0.6726 - val_loss: 0.7544
Epoch 40/80
134/134 [==============================] - 0s 487us/step - loss: 0.6690 - val_loss: 0.7533
Epoch 41/80
134/134 [==============================] - 0s 560us/step - loss: 0.6654 - val_loss: 0.7523
Epoch 42/80
134/134 [==============================] - 0s 687us/step - loss: 0.6615 - val_loss: 0.7511
Epoch 43/80
134/134 [==============================] - 0s 621us/step - loss: 0.6576 - val_loss: 0.7506
Epoch 44/80
134/134 [==============================] - 0s 682us/step - loss: 0.6546 - val_loss: 0.7493
Epoch 45/80
134/134 [==============================] - 0s 614us/step - loss: 0.6521 - val_loss: 0.7473
Epoch 46/80
134/134 [==============================] - 0s 558us/step - loss: 0.6487 - val_loss: 0.7460
Epoch 47/80
134/134 [==============================] - 0s 498us/step - loss: 0.6441 - val_loss: 0.7455
Epoch 48/80
134/134 [==============================] - 0s 492us/step - loss: 0.6401 - val_loss: 0.7457
Epoch 49/80
134/134 [==============================] - 0s 578us/step - loss: 0.6358 - val_loss: 0.7461
Epoch 50/80
134/134 [==============================] - 0s 586us/step - loss: 0.6320 - val_loss: 0.7453
Epoch 51/80
134/134 [==============================] - 0s 614us/step - loss: 0.6275 - val_loss: 0.7442
Epoch 52/80
134/134 [==============================] - 0s 603us/step - loss: 0.6236 - val_loss: 0.7444
Epoch 53/80
134/134 [==============================] - 0s 665us/step - loss: 0.6195 - val_loss: 0.7445
Epoch 54/80
134/134 [==============================] - 0s 562us/step - loss: 0.6158 - val_loss: 0.7434
Epoch 55/80
134/134 [==============================] - 0s 600us/step - loss: 0.6122 - val_loss: 0.7406
Epoch 56/80
134/134 [==============================] - 0s 529us/step - loss: 0.6079 - val_loss: 0.7378
Epoch 57/80
134/134 [==============================] - 0s 535us/step - loss: 0.6041 - val_loss: 0.7340
Epoch 58/80
134/134 [==============================] - 0s 528us/step - loss: 0.6001 - val_loss: 0.7310
Epoch 59/80
134/134 [==============================] - 0s 507us/step - loss: 0.5962 - val_loss: 0.7275
Epoch 60/80
134/134 [==============================] - 0s 521us/step - loss: 0.5922 - val_loss: 0.7237
Epoch 61/80
134/134 [==============================] - 0s 472us/step - loss: 0.5880 - val_loss: 0.7200
Epoch 62/80
134/134 [==============================] - 0s 514us/step - loss: 0.5836 - val_loss: 0.7169
Epoch 63/80
134/134 [==============================] - 0s 532us/step - loss: 0.5786 - val_loss: 0.7145
Epoch 64/80
134/134 [==============================] - 0s 816us/step - loss: 0.5737 - val_loss: 0.7129
Epoch 65/80
134/134 [==============================] - 0s 612us/step - loss: 0.5685 - val_loss: 0.7089
Epoch 66/80
134/134 [==============================] - 0s 542us/step - loss: 0.5640 - val_loss: 0.7051
Epoch 67/80
134/134 [==============================] - 0s 550us/step - loss: 0.5592 - val_loss: 0.7009
Epoch 68/80
134/134 [==============================] - 0s 530us/step - loss: 0.5547 - val_loss: 0.6972
Epoch 69/80
134/134 [==============================] - 0s 609us/step - loss: 0.5494 - val_loss: 0.6918
Epoch 70/80
134/134 [==============================] - 0s 575us/step - loss: 0.5441 - val_loss: 0.6889
Epoch 71/80
134/134 [==============================] - 0s 580us/step - loss: 0.5382 - val_loss: 0.6899
Epoch 72/80
134/134 [==============================] - 0s 507us/step - loss: 0.5331 - val_loss: 0.6916
Epoch 73/80
134/134 [==============================] - 0s 494us/step - loss: 0.5268 - val_loss: 0.6929
Epoch 74/80
134/134 [==============================] - 0s 491us/step - loss: 0.5211 - val_loss: 0.6949
Epoch 75/80
134/134 [==============================] - 0s 464us/step - loss: 0.5147 - val_loss: 0.6956
Epoch 76/80
134/134 [==============================] - 0s 610us/step - loss: 0.5082 - val_loss: 0.6945
Epoch 77/80
134/134 [==============================] - 0s 607us/step - loss: 0.5014 - val_loss: 0.6914
Epoch 78/80
134/134 [==============================] - 0s 626us/step - loss: 0.4952 - val_loss: 0.6870
Epoch 79/80
134/134 [==============================] - 0s 487us/step - loss: 0.4886 - val_loss: 0.6816
Epoch 80/80

134/134 [==============================] - 0s 485us/step - loss: 0.4820 - val_loss: 0.6773

In [154]:
preds = model.predict(X_test)
preds.shape

(10, 8)

In [155]:
pd.DataFrame(scaler.inverse_transform(preds), columns=main_df.columns, index=main_df.tail(10).index)

,visibility,dew_pt,QFE,LC,TC,DRY,RH,WET
2016-01-30 05:45:00,5.790218,6.807907,921.619690,2.172687,3.788282,13.511209,63.479187,11.325926
2016-01-30 08:45:00,5.379103,7.235566,920.808899,2.141148,4.135180,10.663160,74.875389,9.564534
2016-01-30 11:45:00,5.429755,7.630222,922.351318,2.081341,4.271107,11.327542,74.680725,9.584885
2016-01-30 14:45:00,5.815981,7.564649,923.519653,2.083178,3.828263,14.228762,67.153709,10.876074
2016-01-30 17:45:00,5.695158,7.175123,922.414062,2.244242,3.954769,14.535158,65.910278,11.252654
2016-01-31 05:45:00,5.667931,7.172941,920.613953,1.925095,3.434906,12.059399,75.946472,9.686069
2016-01-31 08:45:00,5.232023,7.727321,920.518860,1.973706,3.826479,10.343779,83.699265,8.586275
2016-01-31 11:45:00,5.721619,7.998854,922.505005,2.226050,4.133107,11.893511,81.841225,8.854664
2016-01-31 14:45:00,6.601834,7.710113,923.885559,2.383048,3.997338,14.303842,71.279358,10.309391
2016-01-31 17:45:00,7.113615,7.367694,923.406738,2.924858,4.954483,14.869020,68.916557,10.809740

In [156]:
main_df.tail(10)

                     visibility  dew_pt    QFE  LC  TC   DRY    RH   WET
2016-01-30 05:45:00         6.0     7.1  921.6   3   5   9.0  88.0   8.0
2016-01-30 08:45:00         5.0     7.6  923.1   2   2  10.2  84.0   8.8
2016-01-30 11:45:00         5.0     8.7  922.8   2   2  17.0  58.0  12.2
2016-01-30 14:45:00         6.0     6.8  919.6   2   2  18.6  46.0  12.2
2016-01-30 17:45:00         6.0     8.9  919.0   3   5  15.6  65.0  11.9
2016-01-31 05:45:00        10.0     8.1  920.1   3   3   9.2  93.0   8.6
2016-01-31 08:45:00        10.0     8.7  922.2   1   1  10.0  92.0   9.3
2016-01-31 11:45:00        10.0     9.9  924.3   4   7  14.2  75.0  11.7
2016-01-31 14:45:00         5.0     9.2  921.5   3   5  17.6  58.0  12.8
2016-01-31 17:45:00         5.0     9.6  920.8   3   7  15.4  70.0  12.2