In [1]:
import os
import pandas as pd

In [2]:
xls = pd.ExcelFile('./data/2016/Jan 2016.xlsx')
xls.sheet_names

['visibility', 'Dew pt', 'QFE', 'cloud', 'Temperature']

# For visibility data

In [24]:
df = pd.read_excel(xls, sheet_name='visibility', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1         6       7.0         9         8         7
1              2         6       7.0         7         8         7
2              3         6       7.0         8         8         6
3              4         6       7.0         7         7         7
4              5         6       6.0         6         7         7

In [25]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')

In [29]:
df.columns = ['Time', 'visibility']
df.head()
df = pd.get_dummies(df)

In [30]:
df

,visibility,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,6.0,1,0,0,0,0
1,7.0,0,1,0,0,0
1,9.0,0,0,1,0,0
1,8.0,0,0,0,1,0
1,7.0,0,0,0,0,1
2,6.0,1,0,0,0,0
2,7.0,0,1,0,0,0
2,7.0,0,0,1,0,0
2,8.0,0,0,0,1,0
2,7.0,0,0,0,0,1
3,6.0,1,0,0,0,0
3,7.0,0,1,0,0,0
3,8.0,0,0,1,0,0
3,8.0,0,0,0,1,0
3,6.0,0,0,0,0,1
4,6.0,1,0,0,0,0
4,7.0,0,1,0,0,0
4,7.0,0,0,1,0,0
4,7.0,0,0,0,1,0
4,7.0,0,0,0,0,1
5,6.0,1,0,0,0,0
5,6.0,0,1,0,0,0
5,6.0,0,0,1,0,0
5,7.0,0,0,0,1,0
5,7.0,0,0,0,0,1
6,6.0,1,0,0,0,0
6,5.0,0,1,0,0,0
6,6.0,0,0,1,0,0
6,7.0,0,0,0,1,0
6,7.0,0,0,0,0,1
...,...,...,...,...,...,...
26,6.0,1,0,0,0,0
26,7.0,0,1,0,0,0
26,6.0,0,0,1,0,0
26,7.0,0,0,0,1,0
26,7.0,0,0,0,0,1
27,6.0,1,0,0,0,0
27,7.0,0,1,0,0,0
27,7.0,0,0,1,0,0
27,9.0,0,0,0,1,0
27,7.0,0,0,0,0,1
28,6.0,1,0,0,0,0
28,5.0,0,1,0,0,0
28,5.0,0,0,1,0,0
28,6.0,0,0,0,1,0
28,6.0,0,0,0,0,1
29,6.0,1,0,0,0,0
29,5.0,0,1,0,0,0
29,5.0,0,0,1,0,0
29,6.0,0,0,0,1,0
29,6.0,0,0,0,0,1
30,6.0,1,0,0,0,0
30,5.0,0,1,0,0,0
30,5.0,0,0,1,0,0
30,6.0,0,0,0,1,0
30,6.0,0,0,0,0,1
31,10.0,1,0,0,0,0
31,10.0,0,1,0,0,0
31,10.0,0,0,1,0,0
31,5.0,0,0,0,1,0
31,5.0,0,0,0,0,1

# For dew point

In [131]:
df = pd.read_excel(xls, sheet_name='Dew pt', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1       7.4       8.4       7.8       8.8      10.3
1              2       7.9       8.8       8.7       9.8      10.2
2              3       7.7       8.0       9.7       9.8       9.4
3              4       8.4       8.6       9.8       9.2       9.4
4              5       7.1       9.2       9.5      10.7      11.2

In [132]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.columns = ['Time', 'dew_pt']
df.head()
df = pd.get_dummies(df)
df

,dew_pt,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,7.4,1,0,0,0,0
1,8.4,0,1,0,0,0
1,7.8,0,0,1,0,0
1,8.8,0,0,0,1,0
1,10.3,0,0,0,0,1
2,7.9,1,0,0,0,0
2,8.8,0,1,0,0,0
2,8.7,0,0,1,0,0
2,9.8,0,0,0,1,0
2,10.2,0,0,0,0,1
3,7.7,1,0,0,0,0
3,8.0,0,1,0,0,0
3,9.7,0,0,1,0,0
3,9.8,0,0,0,1,0
3,9.4,0,0,0,0,1
4,8.4,1,0,0,0,0
4,8.6,0,1,0,0,0
4,9.8,0,0,1,0,0
4,9.2,0,0,0,1,0
4,9.4,0,0,0,0,1
5,7.1,1,0,0,0,0
5,9.2,0,1,0,0,0
5,9.5,0,0,1,0,0
5,10.7,0,0,0,1,0
5,11.2,0,0,0,0,1
6,9.8,1,0,0,0,0
6,10.9,0,1,0,0,0
6,11.4,0,0,1,0,0
6,7.5,0,0,0,1,0
6,10.8,0,0,0,0,1
...,...,...,...,...,...,...
26,7.1,1,0,0,0,0
26,7.9,0,1,0,0,0
26,7.9,0,0,1,0,0
26,5.5,0,0,0,1,0
26,8.9,0,0,0,0,1
27,7.7,1,0,0,0,0
27,8.0,0,1,0,0,0
27,6.0,0,0,1,0,0
27,4.0,0,0,0,1,0
27,7.2,0,0,0,0,1
28,6.7,1,0,0,0,0
28,7.9,0,1,0,0,0
28,7.1,0,0,1,0,0
28,4.1,0,0,0,1,0
28,6.9,0,0,0,0,1
29,6.8,1,0,0,0,0
29,7.0,0,1,0,0,0
29,7.1,0,0,1,0,0
29,6.5,0,0,0,1,0
29,6.7,0,0,0,0,1
30,7.1,1,0,0,0,0
30,7.6,0,1,0,0,0
30,8.7,0,0,1,0,0
30,6.8,0,0,0,1,0
30,8.9,0,0,0,0,1
31,8.1,1,0,0,0,0
31,8.7,0,1,0,0,0
31,9.9,0,0,1,0,0
31,9.2,0,0,0,1,0
31,9.6,0,0,0,0,1

# For QFE

In [129]:
df = pd.read_excel(xls, sheet_name='QFE', skiprows=3)
df.head()

   Day/Time(UTC)  05:45:00  08:45:00  11:45:00  14:45:00  17:45:00
0              1     927.0     929.3     930.0     927.0     927.3
1              2     927.3     929.1     928.4     925.7     924.6
2              3     924.8     926.5     927.3     924.2     923.6
3              4     925.4     928.3     928.2     926.0     924.9
4              5     924.2     926.2     926.0     923.7     922.6

In [130]:
df = df.set_index('Day/Time(UTC)').stack().reset_index().set_index('Day/Time(UTC)')
df.columns = ['Time', 'QFE']
df.head()
df = pd.get_dummies(df)
df

,QFE,Time_05:45:00,Time_08:45:00,Time_11:45:00,Time_14:45:00,Time_17:45:00
Day/Time(UTC),,,,,,
1,927.0,1,0,0,0,0
1,929.3,0,1,0,0,0
1,930.0,0,0,1,0,0
1,927.0,0,0,0,1,0
1,927.3,0,0,0,0,1
2,927.3,1,0,0,0,0
2,929.1,0,1,0,0,0
2,928.4,0,0,1,0,0
2,925.7,0,0,0,1,0
2,924.6,0,0,0,0,1
3,924.8,1,0,0,0,0
3,926.5,0,1,0,0,0
3,927.3,0,0,1,0,0
3,924.2,0,0,0,1,0
3,923.6,0,0,0,0,1
4,925.4,1,0,0,0,0
4,928.3,0,1,0,0,0
4,928.2,0,0,1,0,0
4,926.0,0,0,0,1,0
4,924.9,0,0,0,0,1
5,924.2,1,0,0,0,0
5,926.2,0,1,0,0,0
5,926.0,0,0,1,0,0
5,923.7,0,0,0,1,0
5,922.6,0,0,0,0,1
6,924.7,1,0,0,0,0
6,926.7,0,1,0,0,0
6,926.8,0,0,1,0,0
6,924.4,0,0,0,1,0
6,923.3,0,0,0,0,1
...,...,...,...,...,...,...
26,921.7,1,0,0,0,0
26,923.9,0,1,0,0,0
26,924.1,0,0,1,0,0
26,920.9,0,0,0,1,0
26,920.6,0,0,0,0,1
27,920.8,1,0,0,0,0
27,922.5,0,1,0,0,0
27,922.9,0,0,1,0,0
27,919.6,0,0,0,1,0
27,919.8,0,0,0,0,1
28,920.8,1,0,0,0,0
28,923.0,0,1,0,0,0
28,923.9,0,0,1,0,0
28,921.3,0,0,0,1,0
28,920.8,0,0,0,0,1
29,923.8,1,0,0,0,0
29,926.0,0,1,0,0,0
29,925.9,0,0,1,0,0
29,922.9,0,0,0,1,0
29,922.7,0,0,0,0,1
30,921.6,1,0,0,0,0
30,923.1,0,1,0,0,0
30,922.8,0,0,1,0,0
30,919.6,0,0,0,1,0
30,919.0,0,0,0,0,1
31,920.1,1,0,0,0,0
31,922.2,0,1,0,0,0
31,924.3,0,0,1,0,0
31,921.5,0,0,0,1,0
31,920.8,0,0,0,0,1

# For Cloud

In [127]:
df = pd.read_excel(xls, sheet_name='cloud', skiprows=4)
df = df.set_index('Unnamed: 0')
df.index.name = 'Day/Time(UTC) 	'
df.head()

                  LC  TC  LC.1  TC.1  LC.2  TC.2  LC.3  TC.3  LC.4  TC.4
Day/Time(UTC) \t
1                  1   1     4     6     2     2     1     3     1     2
2                  1   1     1     1     1     1     2     2     1     1
3                  1   1     1     1     1     1     2     4     2     5
4                  1   1     1     1     1     1     3     6     1     2
5                  1   1     2     5     2     6     2     2     1     3

In [121]:
df

        Day/Time(UTC) 05:45:00    08:45:00    11:45:00    14:45:00     \
   Unnamed: 0_level_1       LC TC       LC TC       LC TC       LC TC
0                   1        1  1        4  6        2  2        1  3
1                   2        1  1        1  1        1  1        2  2
2                   3        1  1        1  1        1  1        2  4
3                   4        1  1        1  1        1  1        3  6
4                   5        1  1        2  5        2  6        2  2
5                   6        1  2        2  6        2  3        2  6
6                   7        1  1        1  1        2  2        3  3
7                   8        1  1        1  1        2  2        3  3
8                   9        4  7        4  7        3  3        2  2
9                  10        1  1        1  1        1  1        1  1
10                 11        3  3        3  3        1  1        0  0
11                 12        3  6        4  7        4  7        3  6
12                 13        2  5        3  7        2  5        2  6
13                 14        1  1        1  1        1  1        1  1
14                 15        1  2        4  7        2  4        2  4
15                 16        2  4        1  1        1  1        2  3
16                 17        1  1        3  6        2  4        1  1
17                 18        1  1        1  1        1  1        2  2
18                 19        1  1        3  6        3  5        3  7
19                 20        3  5        3  7        3  6        3  6
20                 21        3  3        1  1        2  2        3  3
21                 22        3  7        4  6        1  1        4  4
22                 23        2  4        3  3        3  3        2  3
23                 24        1  1        1  2        2  4        2  4
24                 25        1  3        1  2        2  4        3  6
25                 26        1  4        1  4        6  6        3  6
26                 27        1  4        3  6        3  5        4  6
27                 28        1  5        3  7        2  5        3  7
28                 29        1  1        1  1        1  1        3  3
29                 30        3  5        2  2        2  2        2  2
30                 31        3  3        1  1        4  7        3  5

   17:45:00
         LC TC
0         1  2
1         1  1
2         2  5
3         1  2
4         1  3
5         2  5
6         3  5
7         4  7
8         1  1
9         3  7
10        1  2
11        3  7
12        2  7
13        3  6
14        3  5
15        2  5
16        1  2
17        1  2
18        4  7
19        4  7
20        4  6
21        2  2
22        3  5
23        3  3
24        3  5
25        4  7
26        4  7
27        4  7
28        4  7
29        3  5
30        3  7

In [105]:
pd.get_dummies(df.loc[:, df.columns != 'level_1_TC'].stack().reset_index().set_index('Day/Time(UTC)'))

,0,level_1_05:45:00,level_1_08:45:00,level_1_11:45:00,level_1_14:45:00,level_1_17:45:00
Day/Time(UTC),,,,,,
1,1,1,0,0,0,0
1,4,0,1,0,0,0
1,2,0,0,1,0,0
1,1,0,0,0,1,0
1,1,0,0,0,0,1
1,1,1,0,0,0,0
1,6,0,1,0,0,0
1,2,0,0,1,0,0
1,3,0,0,0,1,0
1,2,0,0,0,0,1
2,1,1,0,0,0,0
2,1,0,1,0,0,0
2,1,0,0,1,0,0
2,2,0,0,0,1,0
2,1,0,0,0,0,1
2,1,1,0,0,0,0
2,1,0,1,0,0,0
2,1,0,0,1,0,0
2,2,0,0,0,1,0
2,1,0,0,0,0,1
3,1,1,0,0,0,0
3,1,0,1,0,0,0
3,1,0,0,1,0,0
3,2,0,0,0,1,0
3,2,0,0,0,0,1
3,1,1,0,0,0,0
3,1,0,1,0,0,0
3,1,0,0,1,0,0
3,4,0,0,0,1,0
3,5,0,0,0,0,1
...,...,...,...,...,...,...
29,1,1,0,0,0,0
29,1,0,1,0,0,0
29,1,0,0,1,0,0
29,3,0,0,0,1,0
29,4,0,0,0,0,1
29,1,1,0,0,0,0
29,1,0,1,0,0,0
29,1,0,0,1,0,0
29,3,0,0,0,1,0
29,7,0,0,0,0,1
30,3,1,0,0,0,0
30,2,0,1,0,0,0
30,2,0,0,1,0,0
30,2,0,0,0,1,0
30,3,0,0,0,0,1
30,5,1,0,0,0,0
30,2,0,1,0,0,0
30,2,0,0,1,0,0
30,2,0,0,0,1,0
30,5,0,0,0,0,1
31,3,1,0,0,0,0
31,1,0,1,0,0,0
31,4,0,0,1,0,0
31,3,0,0,0,1,0
31,3,0,0,0,0,1
31,3,1,0,0,0,0
31,1,0,1,0,0,0
31,7,0,0,1,0,0
31,5,0,0,0,1,0
31,7,0,0,0,0,1

In [87]:
df.loc[:, df.columns != 'level_1_TC']

,05:45:00,08:45:00,11:45:00,14:45:00,17:45:00
"(Day/Time(UTC), Unnamed: 0_level_1)",,,,,
1,1,4,2,1,1
1,1,6,2,3,2
2,1,1,1,2,1
2,1,1,1,2,1
3,1,1,1,2,2
3,1,1,1,4,5
4,1,1,1,3,1
4,1,1,1,6,2
5,1,2,2,2,1
5,1,5,6,2,3
6,1,2,2,2,2
6,2,6,3,6,5
7,1,1,2,3,3
7,1,1,2,3,5
8,1,1,2,3,4
8,1,1,2,3,7
9,4,4,3,2,1
9,7,7,3,2,1
10,1,1,1,1,3
10,1,1,1,1,7
11,3,3,1,0,1
11,3,3,1,0,2
12,3,4,4,3,3
12,6,7,7,6,7
13,2,3,2,2,2
13,5,7,5,6,7
14,1,1,1,1,3
14,1,1,1,1,6
15,1,4,2,2,3
15,2,7,4,4,5
...,...,...,...,...,...
17,1,3,2,1,1
17,1,6,4,1,2
18,1,1,1,2,1
18,1,1,1,2,2
19,1,3,3,3,4
19,1,6,5,7,7
20,3,3,3,3,4
20,5,7,6,6,7
21,3,1,2,3,4
21,3,1,2,3,6
22,3,4,1,4,2
22,7,6,1,4,2
23,2,3,3,2,3
23,4,3,3,3,5
24,1,1,2,2,3
24,1,2,4,4,3
25,1,1,2,3,3
25,3,2,4,6,5
26,1,1,6,3,4
26,4,4,6,6,7
27,1,3,3,4,4
27,4,6,5,6,7
28,1,3,2,3,4
28,5,7,5,7,7
29,1,1,1,3,4
29,1,1,1,3,7
30,3,2,2,2,3
30,5,2,2,2,5
31,3,1,4,3,3
31,3,1,7,5,7

In [75]:
pd.get_dummies(df.stack().reset_index().set_index(('Day/Time(UTC)', 'Unnamed: 0_level_1')))

,0,level_1_05:45:00,level_1_08:45:00,level_1_11:45:00,level_1_14:45:00,level_1_17:45:00,level_1_level_1_TC
"(Day/Time(UTC), Unnamed: 0_level_1)",,,,,,,
1,1,1,0,0,0,0,0
1,4,0,1,0,0,0,0
1,2,0,0,1,0,0,0
1,1,0,0,0,1,0,0
1,1,0,0,0,0,1,0
1,0,0,0,0,0,0,1
1,1,1,0,0,0,0,0
1,6,0,1,0,0,0,0
1,2,0,0,1,0,0,0
1,3,0,0,0,1,0,0
1,2,0,0,0,0,1,0
1,1,0,0,0,0,0,1
2,1,1,0,0,0,0,0
2,1,0,1,0,0,0,0
2,1,0,0,1,0,0,0
2,2,0,0,0,1,0,0
2,1,0,0,0,0,1,0
2,0,0,0,0,0,0,1
2,1,1,0,0,0,0,0
2,1,0,1,0,0,0,0
2,1,0,0,1,0,0,0
2,2,0,0,0,1,0,0
2,1,0,0,0,0,1,0
2,1,0,0,0,0,0,1
3,1,1,0,0,0,0,0
3,1,0,1,0,0,0,0
3,1,0,0,1,0,0,0
3,2,0,0,0,1,0,0
3,2,0,0,0,0,1,0
3,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...
29,1,1,0,0,0,0,0
29,1,0,1,0,0,0,0
29,1,0,0,1,0,0,0
29,3,0,0,0,1,0,0
29,7,0,0,0,0,1,0
29,1,0,0,0,0,0,1
30,3,1,0,0,0,0,0
30,2,0,1,0,0,0,0
30,2,0,0,1,0,0,0
30,2,0,0,0,1,0,0
30,3,0,0,0,0,1,0
30,0,0,0,0,0,0,1
30,5,1,0,0,0,0,0
30,2,0,1,0,0,0,0
30,2,0,0,1,0,0,0
30,2,0,0,0,1,0,0
30,5,0,0,0,0,1,0
30,1,0,0,0,0,0,1
31,3,1,0,0,0,0,0
31,1,0,1,0,0,0,0
31,4,0,0,1,0,0,0
31,3,0,0,0,1,0,0
31,3,0,0,0,0,1,0
31,0,0,0,0,0,0,1
31,3,1,0,0,0,0,0
31,1,0,1,0,0,0,0
31,7,0,0,1,0,0,0
31,5,0,0,0,1,0,0
31,7,0,0,0,0,1,0
31,1,0,0,0,0,0,1